main {
    position: relative;

    .container {
        color: color(strong);
        margin: 50px auto;
        max-width: 75%;
        text-align: center;

        h1 { font-weight: weight(bold); }

        .showcase {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 25% 25% 25% 25%;

            .project {
                background-color: black;
                border-radius: 5px;
                height: 200px;
                width: 100%;
            }

            @include min { grid-template-columns: 100%; }
            @include mobile { grid-template-columns: 50% 50%; }
            @include showcase { grid-template-columns: 33% 33% 33%; }
        }
    }
}