$mobile-width: 800px;

$font-color: (
    "default": #777,
    "offset": #F13635,
    "emphasis": #FFF,
    "strong": #000
);

$font-weight: (
    "light": lighter,
    "default": normal,
    "bold": bold
);