::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #222234; }
::-webkit-scrollbar-thumb { background: #161624; }
::-webkit-scrollbar-thumb:hover { background: #22222C; }

* { box-sizing: border-box; }

body, html {
    background-color: #F5F5F5;
    color: #777;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

.highlight {
    color: #F13635;
    font-weight: 700;
}