::-webkit-scrollbar { width: 5px; }

* { box-sizing: border-box; }

body, html {
    background-color: #F5F5F5;
    color: #777;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

.wrapper {
    margin: auto;
    max-width: 1000px;
}