$display-breakpoint: (
    "small": 500px,
    "medium": 800px,
    "large": 1150px
);

$font-color: (
    "default": #777,
    "offset": #F13635,
    "emphasis": #FFF,
    "strong": #666
);

$font-weight: (
    "light": lighter,
    "default": normal,
    "bold": bold
);